*{
background-color: black;
text-align: center;
font-family: verdana
}
#header{
  color: white;
  font-weight: 300;
  font-size: 42px;
h1{
  font-weight: normal;
  font-size: 50px;
}
a{
  color: aquamarine;
  font-size: 16px;
  font-decoration: underline;
}
 p{
    font-size: 21px;
    color: gray;
  }
 #copywrite{
   text-align: right;
  }
  
    
